[Unit]
After=default.target

[Install]
WantedBy=default.target

[Service]
Type=forking
ExecStartPre=/bin/bash -c "TMPFILE_ENVETCD=$(mktemp -t $SERVICE)"
ExecStartPre=/bin/bash -c "echo 'TEMP FILE: $TMPFILE_ENVETCD'"
ExecStartPre=/bin/bash -c "exec /envetcd \
	--no-uppercase \
	--service redis \
	-c env > $TMPFILE_ENVETCD; "
ExecStart=/bin/bash -c "exec /usr/bin/docker images "
#ExecStart=/bin/bash -c "exec /usr/bin/docker run \
#	--env-file=$TMPFILE_ENVETCD "
#ExecStartPost=/bin/bash -c "exec rm -f $TMPFILE_ENVETCD"
