[Unit]
After=default.target

[Install]
WantedBy=default.target

[Service]
User=core
Type=oneshot
ExecStartPre=/bin/bash -c "echo Starting..."
ExecStart=/bin/bash -c "TMPFILE_ENVETCD=$(mktemp -t service.XXXXXXXXXX); \
    echo $$TMPFILE_ENVETCD; \
    /envetcd --service redis --output $TMPFILE_ENVETCD -c env; \
    /usr/bin/docker images; \
    echo "Removing temporary file; \
    /usr/bin/rm -f $TMPFILE_ENVETCD ;"
ExecStartPost=/bin/bash -c "echo DONE"